## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
a = 5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [8]:
b = 8.5
type(b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [10]:
c = 'Pili'

5) Crear una variable que contenga un número complejo

In [11]:
d = 8.5

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
type(d)

float

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
pi = 3.14159
round(pi,4)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [6]:
n = True
m = 'False'
#no, no se trata de lo mismo. el 1ero es un boolean y el 2ndo es un string
n and bool(m)

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(n))
type(m)

<class 'bool'>

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
h = 5 + 6.5

11) Realizar una operación de suma de números complejos

In [18]:
(5+6j) + (8-9j)

(13-3j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
8 + 5-9j

(13-9j)

13) Realizar una operación de multiplicación

In [20]:
2*5

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
l = 27/4
print(l)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
c+m

'PiliTrue'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
s = 2
t = '2'
s == t

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
s == int(t)

True

In [30]:
str(s)==t

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#porque tiene coma mi rey. Y tiene que ser si o si un punto.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [32]:
h = 3
h -= 5
print(h)

-2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [8]:
2 << 2
# es como si multiplicara por la potencia de 2
# 2<<2 es lo mismo que hacer 2 * 2^2 = 8
8 << 1
# aca estamos haciendo 8 * 2^1 = 16
# o sea la compu esta haciendo menos trabajo porque no es que esta haciendo la cuenta, sino que esta corriendo dígitos no más. es más rápido

16

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2 + '2'
#nope

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [41]:
'hello' * 8

'hellohellohellohellohellohellohellohello'